
.contenedor-item {
  background-color: #FFE9D7;
  border: solid 4px rgb(255, 179, 128);
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 11px 3px rgba(110, 31, 0, 0.315); 
  box-shadow: 5px 5px 11px 3px rgba(110, 31, 0, 0.315);
  margin: 30px 80px;
}

.producto {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.contenedor-detalles {
  display: flex;
  flex-flow: column nowrap;
  border: solid 2px rgb(255, 179, 128);
  border-radius: 15px;
  margin: 20px 20px;
  padding: 2em 0em;
}

.elementos {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.detalle-titulo {
  color: rgb(83, 38, 0);
  margin-left: 20px;
  margin-top: 1em;
  
}

.imagen-producto {
  width: 300px;
  border: solid 1px rgb(255, 179, 128);
  border-radius: 20px;
  margin: 0 2em;
}

.descripcion-precio {
  display: flex;
  flex-flow: column nowrap;
}

.descripcion {
  height: 22em;
}

.texto {
  font-size: 22px;
  padding-right: 1em;
}

.precio {
text-align: end;
padding-right: 3em;
font-size: 25px;
font-weight: 400;
}

.contenedor-compra {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
  padding: 5px 5em;
}

.btn-irAlCarrito {
  width: 100%;
  padding: 0 5px;
}

.contenedor-boton-irAlCarrito {
    background-color: rgb(255, 202, 166);
    border: solid 2px rgb(255, 179, 128);
    border-radius: 15px;
    width: 180px;
    height: 4em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
}

.contenedor-boton-irAlCarrito button {
  background-color: rgb(255, 174, 120);
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  width: 100%;
  height: 3em;
  border: 2px solid #FFE9D7;
  border-radius: 8px;
}

.terminar-compra {
  text-decoration: none;
}