
.contenedor-item {
  background-color: #FFE9D7;
  border: solid 4px rgb(255, 179, 128);
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 11px 3px rgba(110, 31, 0, 0.315); 
  box-shadow: 5px 5px 11px 3px rgba(110, 31, 0, 0.315);
  margin: 30px 80px;
}

.producto {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.elementos {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  border: solid 2px rgb(255, 179, 128);
  border-radius: 15px;
  margin: 20px 20px;
  padding: 2em 0em;
}

.detalle-titulo {
  color: rgb(83, 38, 0);
  margin-left: 20px;
  margin-top: 1em;
  
}

.imagen-producto {
  width: 300px;
  border: solid 1px rgb(255, 179, 128);
  border-radius: 20px;
  margin: 0 2em;
}

.descripcion-precio {
  display: flex;
  flex-flow: column nowrap;
}

.descripcion {
  height: 22em;
}

.texto {
  font-size: 22px;
}

.precio {
text-align: end;
padding-right: 1em;
font-size: 25px;
font-weight: 400;
}