.contenedor-navbar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: rgb(255, 226, 182);
  justify-content: space-between;
  padding: 20px 1em;
}

.navbar-botones {
  display: flex;
  flex-flow:  nowrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  
}

.brand {
  text-decoration: none;
  color: rgb(83, 38, 0);
  font-size: 25px;
}

.link {
  text-decoration: none;
  color: rgb(83, 38, 0);
}

li {
  margin: 0px 20px;
  font-family: 'Raleway', sans-serif;
}